@model Category
@{
    ViewData["Title"] = "Detail";
}

<div class="container my-5">

        <input type="text" class="form-control" id="customFile" asp-for="Name" disabled="disabled" />
      
        <a class="btn btn-light mt-3" asp-action="Index">Cancel</a>
</div>



