@model Category
@{
    ViewData["Title"] = "Edit";
}

<div class="container my-5">
    <span class="text-danger">@ViewBag.error</span>
    <form class="forms-sample" asp-action="Edit" method="post">
        <input type="text" class="form-control" id="customFile" asp-for="Name" />
        <span class="text-danger" asp-validation-for="Name"></span>
        <div class="button my-3">
            <button type="submit" class="btn btn-primary mr-2">Sumbit</button>
            <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>
    </form>
</div>




