@model IEnumerable<Category>


@{
    ViewData["Title"] = "Slider";
}


<div class="container my-5">
    <a class="btn btn-success text-white" asp-action="Create" style="float:right">Create</a>
        <div class="table-responsive">
            <table id="recent-purchases-listing" class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                       
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td class="py-1">
                                @category.Name
                            </td>
                
                            <td>
                                <a class="btn btn-outline-info" asp-action="Detail" asp-route-id="@category.Id">Info</a>
                                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@category.Id">Edit</a>
                            <form asp-action="SoftDelete" asp-route-id="@category.Id" method="post">
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                                  </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
</div>
